@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    position: relative;
    width: 1366px;
    height: 1545px;

    background: #FFFFFF;
}

.gdr {
    position: static;
    width: 201px;
    height: 118px;
}
.heading {
    /* TRAINING PROJECT TITLE */
    display: block;
    position: static;
    width: 394px;
    height: 32px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;

    color: #000000;
}

.subtitle {
    /* Training project subtitle */

    position: static;
    width: 443px;
    height: 32px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;

    color: #000000;
}

.line0 {
    /* Line 1 */

    position: static;
    width: 1235px;
    height: 0px;

    border: 0.5px solid #000000;
}

.content p {
        /* This is an educational project for training web design skills. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, nostrum omnis! Ab debitis dolores esse ex hic, ipsum maiores officiis provident qui quibusdam quod saepe? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, nostrum omnis! Ab debitis dolores esse ex hic, ipsum maiores officiis provident qui quibusdam quod saepe? */

    position: static;
    width: 897px;
    height: 77px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.line1 {
        /* Line 2 */

    position: static;
    width: 1235px;
    height: 0px;

    border: 0.5px solid #000000;

}

.sub2 {
    /* Now we use... */

    position: static;
    width: 222px;
    height: 26px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;


}

.img1 {
    position: static;
    width: 99px;
    height: 99px;
}

.html5 {
    /* HTML 5 */

    position: static;
    width: 81px;
    height: 19px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.img2 {
    position: static;
    width: 88px;
    height: 99px;
}

.css_text {
    /* CSS 3 */

    position: static;
    width: 81px;
    height: 19px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.sub3 {
    /* ... a little bit later we will use */

    position: static;
    width: 320px;
    height: 26px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.img3 {
    /* javascript 1 */

    position: static;
    width: 100px;
    height: 100px;
}

.line2 {
    /* Line 3 */

    position: static;
    width: 1235px;
    height: 0px;

    border: 0.5px solid #000000;
}

.text1 {
    /* After we learn the basics, we should decide on the direction of development (front-end or back-end) */

    position: static;
    width: 797px;
    height: 22px;

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.frontend p {
    /* if we choose frontend then we will study: */

    position: static;
    width: 797px;
    height: 20px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.frontend ul {
    position: static;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 29px;
    /* identical to box height */

    color: #000000;
}

.frontend li span {
    color: #0170BA;
}

.backend p {
    /* if we choose frontend then we will study: */

    position: static;
    width: 797px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.backend ol {
    /* PHP */

    position: static;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 29px;
    /* identical to box height */

    color: #000000;
}

.backend li span {
    color: #E34F26;
}

.line3 {
    position: static;
    width: 1235px;
    height: 0px;

    border: 0.3px solid #000000;
    transform: rotate(-0.05deg);
}

.text2 {
    position: static;
    width: 797px;
    height: 22px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.colortext {
    color: blue;
}